<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Stark bot </h1><br>
	
	<table>
		<tr>
			<td><a href="/newIntent"><button>New Intent</button></a></td>
			<td><a href="/newTemplate"><button>New Template/Response</button></a></td>
		</tr>
		<tr>
			<td><a href="/newStory"><button>New Story</button></a></td>
			<td><a href="/newFact"><button>New Fact</button></a></td>
		</tr>
		<tr>
			<td><a href="/train"><button>Train</button></a></td>
		</tr>
	</table><br><br><br>
	
	<hr><br><br><br>

	<table>
		<tr>
			<td><a href="/viewIntents"><button>View Intents</button></a></td>
			<td><a href="/viewTemplates"><button>View Templates/Responses</button></a></td>
		</tr>
		<tr>
			<td><a href="/viewStories"><button>View Stories</button></a></td>
			<td><a href="/showFacts"><button>View Facts</button></a></td>
		</tr>
		
	</table>


</body>
</html>